.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top: 100px;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
   
}

.colum, .elm-wrapper{
    background-color: rgb(180, 139, 77);
    color: black;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.name-task{
    background-color: aliceblue;
   border: none;
   border-radius: 15px;
   padding-left: 10px;
   padding-right: 10px;
   word-wrap: break-word;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: inset 2px 2px 3px rgba(0,0, 0, 0.5);
   font-size: 1.8rem;
   margin-bottom: 20px;
}
.delete-btn, .edit-btn{
    height: 20px;
    width: 20px;
    margin-left: 15px;
    background: transparent;
    border: none;
    opacity: .5;
    transition: 1s;
    cursor: pointer;
   
}
.delete-btn:hover{
    opacity: 1;
    transition: 1s;
    
}
.edit-btn:hover{
opacity: 1;
transition: 1s;
}



.delete-img{
    height: 100%;
    width: 100%;
}
.new-board-btn, .submit-btn{
    height: 50px;
    width: 150px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px rgba(0,0, 0, 0.5);
    transition: opacity, 1s;
    z-index: 1;

}
.submit-btn:hover{
    opacity: 0.5;
    transition: 1s;
}

.add-new-task:hover{
    opacity: 0.5;
    transition: 1s;
}
.col-headre{
    font-weight: bold;
}

@media(max-width: 610px){
    .main-section{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 100px;
        grid-gap: 1rem;
        justify-content: center;
        align-items: center;
        width: 100%;
       
    }
    

}